html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}
@media (max-width: 426px) {
  .left-side {
    width: 100%;
  }
}
@media (max-width: 376px) {
  .left-side {
    width: 100%;
  }
}
@media (max-width: 321px) {
  .left-side {
    width: 100%;
  }
}
.left-side_background {
  width: auto;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  box-sizing: border-box;
}
@media (max-width: 426px), (max-width: 376px), (max-width: 321px) {
  .left-side_background {
    width: 100%;
    padding: 0px;
  }
}
.left-side_content {
  height: 125px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 426px), (max-width: 376px), (max-width: 321px) {
  .left-side_content {
    align-items: center;
  }
}
.left-side_title {
  font-weight: 600;
  color: #fff;
  font-size: 28px;
}
.left-side_subtitle {
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;
}
.left-side_button {
  height: 45px;
  width: 140px;
  background-color: rgba(102, 164, 146, 0.8);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.left-side_button:hover {
  background-color: rgb(102, 164, 146);
  cursor: pointer;
}
.left-side_medkit-btn {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding-top: 5px;
}
.left-side_medkit-btn img {
  margin-right: 5px;
  margin-bottom: 5px;
}

.right-side_content {
  width: 480px;
  height: 490px;
  background-color: inherit;
}
@media (max-width: 426px), (max-width: 376px), (max-width: 321px) {
  .right-side_content {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.right-side_header {
  width: 100%;
  height: 40px;
}
@media (max-width: 426px) {
  .right-side_header {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 376px) {
  .right-side_header {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 321px) {
  .right-side_header {
    width: 100%;
    margin-top: 10px;
  }
}
.right-side_body {
  width: 100%;
  height: auto;
}
@media (max-width: 376px), (max-width: 321px) {
  .right-side_body {
    width: 100%;
  }
}

.rs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rs-header_title {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
@media (max-width: 426px), (max-width: 376px), (max-width: 321px) {
  .rs-header_title {
    padding-left: 10px;
  }
}
.rs-header_button {
  background-image: url("../img/menu.svg");
  width: 24px;
  height: 24px;
  cursor: pointer;
}
@media (max-width: 426px), (max-width: 376px), (max-width: 321px) {
  .rs-header_button {
    margin-right: 10px;
  }
}

.rs-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.rs-body_tape {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: 400;
}
.rs-body_posts {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 426px) {
  .rs-body_posts {
    margin-top: 0px;
  }
}
@media (max-width: 376px) {
  .rs-body_posts {
    margin-top: 10px;
  }
}
@media (max-width: 321px) {
  .rs-body_posts {
    margin-top: 0px;
  }
}

.rs-tape {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  color: #c8c8c8;
}
@media (max-width: 426px), (max-width: 376px), (max-width: 321px) {
  .rs-tape {
    display: none;
  }
}
.rs-tape_element {
  margin-right: 20px;
  transition: 0.3s;
}
.rs-tape_element:hover {
  color: #000;
}
.rs-tape_element__active {
  color: #000;
  margin-right: 20px;
  transition: 0.3s;
}
.rs-tape_element:last-child {
  position: relative;
}
.rs-tape_blur {
  position: absolute;
  width: 45px;
  height: 20px;
  transform: translateY(-20px);
  background: linear-gradient(to left, #fff 50%, rgba(247, 247, 247, 0) 75%);
}

.rs-posts_item {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 426px), (max-width: 376px), (max-width: 321px) {
  .rs-posts_item {
    width: 95%;
    height: 100%;
  }
}

.rs-item_logo {
  margin-right: 25px;
}
.rs-item_logo img {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}
@media (max-width: 376px) {
  .rs-item_logo {
    margin-right: 15px;
  }
}
@media (max-width: 321px) {
  .rs-item_logo {
    margin-right: 10px;
  }
}
.rs-item_text {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  width: 330px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 121%;
}
@media (max-width: 321px) {
  .rs-item_text {
    height: 100%;
    font-size: 14px;
    padding-right: 10px;
  }
}
.rs-item_date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rs-date_left {
  font-weight: 100;
  text-shadow: 0px 0px 1px;
  font-size: 39px;
  margin-right: 10px;
}
@media (max-width: 321px) {
  .rs-date_left {
    margin-right: 5px;
    font-size: 34px;
  }
}
.rs-date_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 32px;
  height: 31px;
}
@media (max-width: 321px) {
  .rs-date_right {
    height: 24px;
  }
}

.date-right_month {
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 321px) {
  .date-right_month {
    font-size: 12px;
  }
}
.date-right_year {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 321px) {
  .date-right_year {
    font-size: 12px;
  }
}

.body_wrapper {
  background-color: #c9f8fe;
  height: 727px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 426px) {
  .body_wrapper {
    width: 426px;
    height: 100%;
    position: relative;
  }
}
@media (max-width: 376px) {
  .body_wrapper {
    width: 375px;
    height: 100%;
    position: relative;
  }
}
@media (max-width: 321px) {
  .body_wrapper {
    width: 320px;
    height: 100%;
    position: relative;
  }
}

.page_container {
  width: 1000px;
  height: 570px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto";
}
@media (max-width: 426px) {
  .page_container {
    width: 100%;
    height: 900px;
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .page_container {
    width: 100%;
    height: 900px;
    flex-direction: column;
  }
}
@media (max-width: 321px) {
  .page_container {
    width: 100%;
    height: 840px;
    flex-direction: column;
  }
}
.page_left-side {
  width: 450px;
  height: inherit;
  position: relative;
  background: -210px 0px no-repeat url("../img/background.jpg");
  background-size: cover;
}
@media (max-width: 426px) {
  .page_left-side {
    width: 100%;
    background: -85px 0px no-repeat url("../img/background.jpg");
    background-size: cover;
  }
}
@media (max-width: 376px) {
  .page_left-side {
    width: 100%;
    background: -100px 0px no-repeat url("../img/background.jpg");
    background-size: cover;
  }
}
@media (max-width: 321px) {
  .page_left-side {
    width: 100%;
    background: -130px 0px no-repeat url("../img/background.jpg");
    background-size: cover;
  }
}
.page_right-side {
  width: 550px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 426px), (max-width: 376px), (max-width: 321px) {
  .page_right-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}/*# sourceMappingURL=index.css.map */