@use 'minimize.scss';
@use 'fonts.scss';
@use 'left-side.scss';
@use 'right-side.scss';
@import 'helpers.scss';

.body{
    &_wrapper{
        background-color: #c9f8fe;
        height: 727px;
        width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media (min-width:1919px) {
            width: 1920px;
            height: 100vh;
        }
        @media (max-width:769px) {
            width: 768px;
            height: 100%;
            position: relative;
        }
        @media (max-width:426px) {
            width: 426px;
            height: 100%;
            position: relative;
        }
        @media (max-width:376px) {
            width: 375px;
            height: 100%;
            position: relative;
        }
        @media (max-width:321px) {
            width: 320px;
            height: 100%;
            position: relative;
        }
    }
}

.page{
    &_container{
        width: 1000px;    
        height: 570px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: "Roboto";
        @media (min-width:1919px) {
            width: 1700px;
            height: 967px;
        }
        @media (max-width:769px) {
            width: 100%;
            height: 450px;
        }
        @media (max-width:426px) {
            width: 100%;
            height: 700px;
            flex-direction: column;
        }
        @media (max-width:376px) {
            width: 100%;
            height: 700px;
            flex-direction: column;
        }
        @media (max-width:321px) {
            width: 100%;
            height: 700px;
            flex-direction: column;
        }
        

    }
    &_left-side {
        width: 450px;
        height: inherit;
        position: relative;
        background: -210px 0px no-repeat url('../img/background.jpg');
        background-size: cover;
        @media (min-width:1919px) {
            width: 765px;
            background:-300px 0px no-repeat url('../img/background.jpg');
            background-size: cover;
        }
        @media (max-width:769px) {
            width: 100%;
            background:-180px 0px no-repeat url('../img/background.jpg');
            background-size: cover;
        }
        @media (max-width:426px) {
            width: 100%;
            background:-40px 0px no-repeat url('../img/background.jpg');
            background-size: cover;
        }
        @media (max-width:376px){
            width: 100%;
            background:-60px 0px no-repeat url('../img/background.jpg');
            background-size: cover;
        }
        @media (max-width:321px){
            width: 100%;
            background:-90px 0px no-repeat url('../img/background.jpg');
            background-size: cover;
        }
        
    }

    &_right-side {
        width: 550px;
        height: 100%;
        background-color: #fff;
        @include d-flex(row,center,center);
        @media (min-width:1919px) {
            width: 935px;
        }
        @media(max-width:426px),(max-width:376px),(max-width:321px) {
            width: 100%;
            @include d-flex(row,center,flex-start);
        }
        
    }

}

